body
{
    background-image: url(../assets/image.jpg.jpg);
}

*
{
    margin: 0;
    padding: 0;
}

.main-container
{
    /* border-bottom: 10px solid #F0F8FF; */
    /* background-color: #E08E04; */
    padding: 20px;
}

.main-container .nav-list
{
     /* background-color: #E08E04; */
    display: block;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding-left: 33.5VW;
}


.nav-ll
{
    text-decoration: none;
    padding: 10px;
    color: black;
}

.nav-ll:hover
{
    border: 2px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    border-radius: 50px;
    /* font-family: cursive; */
}

.map-list1
{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.map-list2
{
    border: 2px solid black;
    background-color: #FFFFFF;
    border-radius: 20px;
    /* gap: 10px; */
    padding: 20px;
    margin: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    transition-duration: 2s;
    box-shadow: 0px 0px 10px 1px;
}

.map-list2:hover
{
    transform: scale(1.1);
    overflow:hidden;
}

.button-list
{
    border: 2px solid black;
    padding: 10px;
    width: 10vw;
    margin-top: 20px;
    margin-right: 20px;
    font-size: 20px;
    border-radius: 30px;
}

.button-list:hover
{
    border: 3px solid black;
    background-image: url(../assets/image.jpg.jpg);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.tt-p
{
    border: 2px solid black;
    background-color:black;
    color: rgb(238, 238, 238);
    text-decoration: none;
    margin-left: 10vw;
    border-radius: 50px;
    padding: 10px;
    display: inline;
    font-size: 16px;
    box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px;
}

.tt1
{
    color: whitesmoke;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    box-shadow: #f30000 0px 22px 100px 4px;
}

.inc-dec 
{
    display: flex;
    gap: 10px;
}

button
{
    padding: 8px;
}

.bbt
{
    margin-top: 15px;
    /* padding: 10px; */
    border: 2px solid black;
    padding: 10px;
    /* width: 10vw; */
    margin-top: 20px;
    font-size: 20px;
    border-radius: 30px;
}

.bbt:hover
{
    border: 3px solid black;
    background-image: url(../assets/image.jpg.jpg);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.cv
{
    display: block;
    gap: 20vh;
}

.inc
{
    border: 2px solid black;
    border-radius: 20px;
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
}

.inc:hover
{
    background-color: black;
    color:white;
}

.dec
{
    border: 2px solid black;
    border-radius: 20px;
    font-size: 30px;
    width: 34px;
    font-weight: bold;
    margin-top: 20px;
}

.dec:hover
{
    background-color: black;
    color:white;
}

.h3-list
{
    display:inline-block;
    margin-top: 35px;
}


.by-list
{
    font-size: 30px;
    border-radius: 50px;
    margin-left: 35vw;
    width: 30vw;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
} 

.by-list:hover
{
    border: 3px solid black;
    background-image: url(../assets/image.jpg.jpg);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.div-list1
{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sign-list1
{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}

.form-list
{
    border: 1px solid black;
    box-shadow: rgb(0, 0, 0) 0px 22px 70px 4px;
    border-radius: 20px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    display:flex;
    flex-direction: column;
    padding: 30px;
    gap: 20px;
    margin-top: 50px;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    transition: 4s;
}

.form-list:hover
{
    transition-duration: scale(1.1);
}

input[name="username"],[name="password"],[name="pincode"],[name="address"]
{
    height: 40px;
    width: 20vw;
    font-size: 20px;
    border-radius: 50px;
    padding-left: 10px;
    box-shadow: #F3A600 0px 22px 100px 4px;
}



.div-list2
{
    border: 2px splid black;
    /* display:flex; */
    justify-content: center;
    margin-top: 20px;
}

table td
{
    border-radius: 10px;
    border: 2px solid black;
    padding: 10px;
    background-color: white;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    box-shadow: rgba(255, 132, 0, 0.622) 0px 22px 100px 4px;
}

thead  th
{
    border-radius: 10px;
    border: 2px solid black;
    padding: 30px;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: white;
    box-shadow: rgba(255, 132, 0, 0.622) 0px 22px 100px 4px;
}

.fobu-list
{
    border: 2px solid black;
    font-size: 22px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 50px;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 10px;
    box-shadow: #F3A600 0px 22px 100px 4px;
    background-color: #005eff;
    color: rgb(255, 255, 255);
}

.fobu-list:hover
{
    font-size: 22px;
    font-weight: bold;
}

.title-list
{
    padding-left: 10px;
}

tbody tr td 
{
    padding-left: 30px;
}

.imm-list
{
    padding-left: 12px;
    display: flex;
    height: 70px;
}

.button-container
{
    display: flex;
    gap: 10px;
}

.but-list
{
    display: flex;
    margin-top: 25px;
    border-radius: 10px;
    font-size: 25px;
    border: lightslategrey;
} 

.but-list:hover
{
    border: 0px solid black;
    background-image: url(../assets/image.jpg.jpg);
    color: rgb(255, 0, 157);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.byfav-list
{
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
    box-shadow: #c86e6e 0px 22px 100px 4px;
    background-color: white;
    margin-top: 20px;
    text-align: center;
    display: grid;
    gap: 20px;
    padding: 10px;
}

.h1fav-list
{
    text-align: center;
}

.pay-button
{
    border-radius: 20px;
    width: 10vw;
    margin-left: 44vw;
    font-size: 20px;
}

.pay-button:hover
{
    border: 3px solid black;
    background-image: url(../assets/image.jpg.jpg);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.empty-list
{
    border: 5px solid rgb(0, 0, 0);
    background-color: #F3A600;
    width: 20vw;
    border-radius: 100px;
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 5vw;
    margin-left: 35vw;
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 0);
} 

.fempty-list
{
    border: 5px solid rgb(0, 0, 0);
    background-color: #F3A600;
    width: 20vw;
    border-radius: 100px;
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 5vw;
    margin-left: 35vw;
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 0);
}

.about-list
{
    border: 5px solid rgb(0, 0, 0);
    background-color: #F3A600;
    width: 20vw;
    border-radius: 100px;
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 5vw;
    margin-left: 35vw;
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 0);
}

.cod
{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-decoration: underline;
}

.upi
{
    text-decoration: underline;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.dc{
    text-decoration: underline;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.yes
{
    font-size: 20px;
    display: inline;
}

.h1-list
{
    display: flex;
    justify-content: center;
    text-decoration: underline;
    margin-bottom: 20px;
}

.sign-list
{
    display: inline;
    border: 2px solid black;
}

.sign-list
{
    border-radius: 10px;
    font-size: 20px;
    padding: 10px;
    background-color: #000000;
    color: white;
    font-family:monospace;
    font-weight: bolder;
}

.sign-list:hover
{
    color: black;
    background-image: url(../assets/image.jpg.jpg);
}